.vscode/**
.vscode-test/**
src/**
test/**
__tests__/**
docs/**
.git/**
.github/**
**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.*.json
**/jest.config.js
**/rollup.config.js
**/webpack.config.js
**/babel.config.js
**/.eslintignore
**/.eslintcache
**/.stylelintcache
**/.prettierignore
**/.prettierrc
**/.editorconfig
**/.npmignore
**/node_modules/**
**/.DS_Store
**/*.log*
coverage/**
out/test/**
out/__tests__/**
