.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
.github/**
.git/**
**/.DS_Store
**/.git
**/.svn
**/.hg
**/CVS
**/.env
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*
**/.npm
**/.eslintcache
**/.stylelintcache
**/.vscode-test
**/.yarn-integrity
**/.pnpm-debug.log*
**/.pnpm-store
**/.pnpm-lock.yaml
**/coverage
**/.nyc_output
**/dist
**/build
**/out
**/test
**/tests
**/*.spec.ts
**/*.test.ts
**/jest.config.js
**/tsconfig.json
**/webpack.config.js
**/rollup.config.js
**/babel.config.js
**/.babelrc
**/.prettierrc
**/.editorconfig
**/.flowconfig
**/.jsbeautifyrc
**/.jshintrc
**/.jscsrc
**/.jshintignore
**/.npmrc
**/.npmignore
**/.bowerrc
**/.gitattributes
**/.gitmodules
**/.editorconfig
**/.eslintignore
**/.eslintcache
**/.stylelintcache
**/.prettierignore
**/.prettierrc
**/.editorconfig
**/.flowconfig
**/.jsbeautifyrc
**/.jshintrc
**/.jscsrc
**/.jshintignore
**/.npmrc
**/.npmignore
**/.bowerrc
**/.gitattributes
**/.gitmodules
**/.editorconfig
**/.eslintignore
**/.eslintcache
**/.stylelintcache
**/.prettierignore
**/.prettierrc
**/.editorconfig
**/.flowconfig
**/.jsbeautifyrc
**/.jshintrc
**/.jscsrc
**/.jshintignore
**/.npmrc
**/.npmignore
**/.bowerrc
**/.gitattributes
**/.gitmodules
**/.editorconfig
**/.eslintignore
**/.eslintcache
**/.stylelintcache
**/.prettierignore
**/.prettierrc
**/.editorconfig
**/.flowconfig
**/.jsbeautifyrc
**/.jshintrc
**/.jscsrc
**/.jshintignore
**/.npmrc
**/.npmignore
**/.bowerrc
**/.gitattributes
**/.gitmodules